/*Body*/  

.container {
    height: 80vh;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: #FFA500;    
    align-items: center;
    justify-content: center;    
    display: flex;
    padding-top: 15vh;
}

.contlarge {
    height: 150vh;
}

/*Menu Bar*/
.menubar {
  position:fixed;
  height: 12.5vh;
  background-color: #FFA500;
  width: 100%;
  z-index: 99;
}


.logobar {
  color:white;
  font-size: 30px;
  margin-top: 30px;
}



/*Image*/
.image {
    height: 100vh;
    background: url("images/wp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.titre {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translateX(-40%) translateY(-50%);
    color: white;
    font-family: Verdana;
    font-size: 50px;
}

div a i {
    color: white;
}

div a:hover {
    font-size: 55px;
}

.nom {
    color: #FFA500;
}




/*Présentation*/
.shortpart {
    padding: 7.5%;
}

.logo {
    font-size: 100px;
    padding: 3.5%;
}




/*Compétences*/
.logoexp {
    font-size: 100px;
    padding: 2.5%;
}

.img {
    width: 100px;
}






/*Contact*/
.vertical { 
    border-left: 4px solid #FFA500; 
    height: 100%; 
    display: inline-block;
}

.logocont {
    color: #FFA500;
}

.textcont {
    font-size: 20px;
    color: #999999;
}

div p a {
    color: #999999;
    text-decoration: none;
}

div p a:hover {
    font-size: 20px;
    color: #FFA500;
    text-decoration: none;
}

.card {
    width: 50vh;
    border-color: #999999;
    border-radius: 10px;
    margin: 25px;
}


.btn {
    width: 100px;
    background-color: #FFA500;
    border-color: #999999;
}

.col-5 {
    margin: auto;
}

/*test hamburger*/
.ham {
    cursor: pointer;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:white;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }

  /*test menu bar*/


  a .menu-item{
    color: #FFA500;
  }

  .menu-item,
  .menu-open-button {
    background: #FFA500;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
  }
  
  .menu-open {
    display: none;
  }
  
  .menu {
    width: 650px;
    height: 150px;
    font-size: 20px;
    text-align: left;
  }
  
  .menu-item:hover {
    color: white;
    transition: all .3s;
  }

  .menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }
  
  .menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
  
  .menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(110px, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(220px, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(330px, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 490ms;
    transform: translate3d(440px, 0, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 490ms;
    transform: translate3d(550px, 0, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 490ms;
    transform: translate3d(1290px, 0, 0);
  }  

  .menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 490ms;
    transform: translate3d(1400px, 0, 0);
  }
  
  